In [7]:
import pandas as pd
training_df = pd.read_csv("C:/Users/ua261/TurnByTurn_Game/data/training_data.csv")
testing_df = pd.read_csv("C:/Users/ua261/TurnByTurn_Game/data/test_data.csv")

testing_df

,player_health_history,villain_health_history,battle_outcome
0,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[100, 100, 100, 100, 100, 100, 100, 100, 100, ...",-1
1,"[100, 100, 80, 64, 64, 64, 64, 64, 64, 64, 64]","[100, 100, 100, 100, 100, 100, 100, 100, 92, 9...",-1
2,"[100, 100, 100, 88, 88, 60, 40, 40, 40, 24, 24]","[100, 100, 100, 80, 80, 80, 60, 60, 52, 52, 40]",-1
3,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[100, 100, 100, 100, 100, 100, 100, 100, 80, 8...",-1
4,"[100, 100, 100, 100, 100, 100, 88, 88, 88, 88,...","[100, 100, 100, 100, 88, 88, 68, 52, 40, 40, 40]",-1
5,"[100, 100, 100, 84, 68, 68, 44, 44, 44, 44, 44]","[100, 100, 100, 100, 100, 100, 100, 100, 100, ...",-1
6,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[100, 100, 100, 100, 100, 100, 100, 100, 100, ...",-1
7,"[100, 100, 100, 100, 80, 80, 80, 60, 48, 48, 48]","[100, 100, 100, 100, 100, 92, 92, 72, 52, 52, 52]",-1
8,"[100, 100, 100, 100, 100, 100, 100, 88, 88, 88...","[100, 100, 100, 100, 100, 100, 100, 84, 76, 76...",-1